<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
</script>

<div id="app">
    {{ message }}

    <h2>RSVP App</h2>    
    <form @submit.prevent="addItem">
        <input v-model="item.user_id" name="user_id" placeholder="user_id">
        <input v-model="item.lon" name="lon" placeholder="longitude">
        <input v-model="item.lat" name="lat" placeholder="latitude">
        <input v-model="keywordsInput" placeholder="Enter keywords separated by commas">
        <input v-model="item.image" name="image" placeholder="image url">
        <textarea v-model="item.description" name="description" placeholder="description"></textarea>  
        <button data-action="addItem">Create Item</button>   
    </form>
    {{item.user_id}} - {{item.lon}} - {{item.lat}} - {{item.keywords}} - {{item.image}} - {{item.description}}

    <h2>Items Created</h2>

    <ul>
        <li v-for="item of items">
            <span data-field="user_id">{{item.id}}</span>
            <span data-field="user_id">{{item.user_id}}</span>
            <span data-field="lon">{{item.lon}}</span>
            <span data-field="lat">{{item.lat}}</span>
            <span data-field="keywords">{{item.keywords}}</span>
            <img :src="item.image">
            <span data-field="description">{{item.description}}</span>              
            <button data-action="delete" @click="deleteItem(item.id)">Delete</button>           
           
        </li>
    </ul>
</div>

<script type="module">
    import { createApp } from 'vue';

    createApp({
        data() {
            return {
                message: 'Hello hello Vue!',
                item: {
                    id: 0,
                    user_id: '',
                    lat: null,
                    lon: null,
                    keywords: [],
                    image: 'http://placekitten.com/100/100',
                    description: ''
                },
                keywordsInput:'',
                items: [1,2,3,4,5,6,7]
            }
        },      
           methods: {
            clearForm(){
                console.log("Clearing form now")
                this.item.id = Math.random(),
                this.item.user_id = '',
                this.item.lat = null,
                this.item.lon = null,
                this.item.keywords = '',
                this.item.image = 'http://placekitten.com/100/100',
                this.item.description = ''
            },
            addItem() {
                // console.log("this.item")
                this.item.keywords = this.keywordsInput.split(',').map(keyword => keyword.trim());
                fetch(`/item`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(this.item),
            })
            .then(response => response.json())
            .then(json => {
                console.log('Received item from server:', json);
                //this.items.push(json); // Add the returned item to the items array.
            })
            .then(() =>  this.clearForm())
            .then(() =>  this.getItems())
            .catch(err => console.error(err));
       
            },
            getItems() {
            fetch(`/items`,{
                method: "GET",
            })
            .then(response => response.json())
            .then(json => {
                console.log("Get works!!", json);
                this.items = json;
            })
            .catch(err => console.error(err));
            },
        created() {
            this.clearForm()
            this.getItems();
           }
        }
    }).mount('#app');
</script>